<%= render :partial => 'shared/layout_head' %>

<body>
  <div class="wrapper">
    <div id="header">
      <a id="logo" href="/"><%= configatron.site_header %></a>

      <a id="site-title" href="/"><%= configatron.site_header %></a>

      <div id="menu"><%= frontend_navigation_content %></div>

      <div id="options">
        <% if logged_in? %>
          <% if permitted_to? :read, :admin_dashboard %>
            <%= link_to t('navigation.administration'), admin_root_path, :class => 'admin-icon' %>
          <% end %>
          <%= link_to t('user_session.bar.logout'), user_logout_path, :class => 'logout-icon' %>
        <% else %>
          <%= link_to t("user_session.bar.signin"), new_user_session_path, :class => 'login-icon' %>
        <% end %>
      </div>
    </div>

    <%= render :partial => 'announcements/sentir_saude' %>

    <div id="content" class="selfclear">
      <%= '<div id="flash"><div class="message notice"><p>'+ flash[:notice] +'</p></div></div>' unless flash[:notice].blank? %>
      <%= '<div id="flash"><div class="message error"><p>'+ flash[:error] +'</p></div></div>' unless flash[:error].blank? %>
      <%= '<script>jQuery("#flash").hide().toggle("fade", {}, 2500).delay(4000).toggle("slide", { direction: "down" }, 1500);</script>' unless flash[:notice].blank? and flash[:error].blank? %>

      <% if params[:action] == 'index' and params[:controller] == 'posts' %>
        <div id="main" class="double-column">
          <h1>The CBFP</h1>
          <div class="textile-body"><%= find_content_page('main_statement') %></div>
        </div>

        <div id="sidebar">
          <%= yield %>
        </div>
      <% else %>
        <div id="main" class="single-column">
          <%= yield %>
        </div>
      <% end %>

      
    </div>

    <%= render :partial => 'shared/footer' %>
  </div>
</body>
</html>
