<%= render :partial => 'shared/layout_head' %>

<body>
  <div id="header">
    <div id="white-stripe">
      <div class="wrapper">
        <span class="site-title"><%= configatron.site_header %></span>

        <span class="options">
          <% if logged_in? %>
            <% if @current_user.small_name %>
              <%= link_to @current_user.small_name, user_account_path %> |
            <% else %>
              <%= link_to @current_user.email, user_account_path %> |
            <% end %>
            <% if permitted_to? :read, :admin_dashboard %>
              <%= link_to t('navigation.administration'), admin_root_path %> |
            <% end %>
            <%= link_to t('user_session.bar.logout'), user_logout_path %>
          <% else %>
            <%= link_to t("user_session.bar.signin"), new_user_session_path %> |
            <%= link_to t("user_session.bar.signup"), new_user_account_path %>
          <% end %>
        </span>
      </div>
    </div>
  </div>

  <div id="panel" class="wrapper">
    <%= render :partial => 'announcements/announcement' %>

    <a href="/"><div id="logo"></div></a>
  </div>

  <div id="menu">
    <div class="wrapper">
      <%= frontend_navigation_content %>
    </div>
  </div>

  <div id="content" class="selfclear wrapper">
    <%= '<div id="flash"><div class="message notice"><p>'+ flash[:notice] +'</p></div></div>' unless flash[:notice].blank? %>
    <%= '<div id="flash"><div class="message error"><p>'+ flash[:error] +'</p></div></div>' unless flash[:error].blank? %>
    <%= '<script>jQuery("#flash").hide().toggle("fade", {}, 2500).delay(4000).toggle("slide", { direction: "down" }, 1500);</script>' unless flash[:notice].blank? and flash[:error].blank? %>

    <div id="main">
      <%= yield %>
    </div>

    <div id="right-sidebar">
      <%= tag_menu_widget(@tags) if params[:action] == 'index' and params[:controller] == 'posts' %>

      <%= render :partial => 'shared/social_networks',
                 :locals => { :networks => { :facebook_link => 'http://www.facebook.com/nedaac' } } %>
    </div>
  </div>

  <%= render :partial => 'shared/footer' %>
</body>
</html>
