<%= render :partial => 'shared/layout_head' %>

<body>
  <div class="wrapper">
    <div id="header">
      <a id="logo" href="/">50º Aniversário</a>

      <a id="site-title" href="/">Dia do Estudante</a>

      <p id="light-blue-bar"><span class="left">50º Aniversário</span><span class="right">23 e 24 de Março</span></p>

      <div id="navigation"><%= frontend_navigation_content %></div>

      <div id="options">
        <% if logged_in? %>
          <% if permitted_to? :read, :admin_dashboard %>
            <%= link_to t('navigation.administration'), admin_root_path, :class => 'admin-icon' %>
          <% end %>
          <%= link_to t('user_session.bar.logout'), user_logout_path, :class => 'logout-icon' %>
        <% else %>
          <%= link_to t("user_session.bar.signin"), new_user_session_path, :class => 'login-icon' %>
        <% end %>
      </div>
    </div>

    <div id="content" class="selfclear">
      <%= '<div id="flash"><div class="message notice"><p>'+ flash[:notice] +'</p></div></div>' unless flash[:notice].blank? %>
      <%= '<div id="flash"><div class="message error"><p>'+ flash[:error] +'</p></div></div>' unless flash[:error].blank? %>
      <%= '<script>jQuery("#flash").hide().toggle("fade", {}, 2500).delay(4000).toggle("slide", { direction: "down" }, 1500);</script>' unless flash[:notice].blank? and flash[:error].blank? %>

      <div id="main">
        <%= yield %>
      </div>

      <div id="right-sidebar">
        <div id="organization" class="block">
          <h3><%= t('organization.title') %></h3>

          <a id="fap-logo" class="organization-logo" href="http://www.fap.pt/">FAP</a>
          <a id="aautad-logo" class="organization-logo" href="http://aautad.utad.pt">AAUTAD</a>
          <a id="aaum-logo" class="organization-logo" href="http://aaum.pt">AAUM</a>
          <a id="aauav-logo" class="organization-logo" href="http://aauav.pt">AAUAv</a>
          <a id="fnaeesp-logo" class="organization-logo" href="http://fnaeesp.blogspot.pt/">FNAEESP</a>
          <a id="fnespc-logo" class="organization-logo" href="http://www.fnespc.org/">FNAESPC</a>
          <a id="aac-logo" class="organization-logo" href="http://aac.pt">AAC</a>
          <a id="uevora-logo" class="organization-logo" href="http://www.uevora.pt/">UEvora</a>
          <a id="aefct-logo" class="organization-logo" href="http://ae.fct.unl.pt/">AEFCT</a>
        </div>

        <div id="web-development" class="block">
          <h3>Web Development</h3>

          <a id="gb-logo" href="http://www.groupbuddies.com">Group Buddies</a>
        </div>
      </div>
    </div>

    <%= render :partial => 'shared/footer' %>
  </div>
</body>
</html>
